@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*
{
    margin: 20;
    padding: 5;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.post
{
 position: relative;
 width: 70%;
 min-height: 100vh;
 background: #fff;  
 display: flex;
 justify-content: center;
 align-items: center;
}
.post .content
{
    max-width: 550px;
}
.post .content img
{
    max-width: 90%;
    margin-bottom: 15px;
}
.post .content h2
{
    color:black;
    font-weight: 500;
    font-size: 2em;
}
.post .content p
{
    color:black;
    font-weight: 300;
    font-size: 1.0em;
    margin: 15px 0 25px;
}
.post .content a
{
    position: relative;
    text-transform: uppercase;
    background: white;
    color: #111;
    font-weight: 500;
    letter-spacing: 2px;
    text-decoration: none;
    display: inline-block;
    padding: 10px 15px;
}
.clip
{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 10000;
    background: rgba(0, 0, 0, 0.95);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;  
    visibility: hidden;
    opacity: 0;  
}
.clip.active
{
    visibility: visible;
    opacity: 1;  
}

.clip video
{
    position: relative;
    max-width: 600px;
    outline: none;
}
.close
{
    position:inherit;
    top: 30px;
    right: 30px;
    cursor: pointer;
    filter: invert(1);
    max-width: 22px;
}

/*responsive*/
@media (max-widt: 691px)
{
    .clip video
    {
        max-width: 60%;
    }
}